{{ define "contact" }}
  {{ if .Boosted }}
    {{ template "head" . }}
  {{ end }}
  <div class="w-screen flex pt-6 justify-center items-center flex-col">
    {{template "contact-dashboard" .}}
  </div>
{{ end }}


<!doctype html>
<html lang="en">
  {{ template "head" . }}
  <body hx-ext="head-support">
    <div class="hidden" id="header">
      {{ template "nav" . }}
      <div id="user-button"></div>
      <hr />
    </div>
    <main class="hidden" id="main-content">
      {{ template "contact" . }}
    </main>
    {{ template "script" .}}
  </body>
</html>
