{{ define "dashboard" }}
  {{ if .Boosted }}
    {{ template "head" . }}
  {{ end }}
  <div class="w-screen flex justify-center items-center flex-wrap">
    <div class="p-2">
      {{ .LineChart }}
    </div>
    <div class="p-2">
      {{ .BarsChart }}
    </div>
  </div>
  {{template "contact-dashboard" .}}
{{ end }}


<!doctype html>
<html lang="en">
  {{ template "head" . }}
  <body hx-ext="head-support">
    {{ template "nav" . }}
    <main>
      {{ template "dashboard" . }}
    </main>
  </body>
</html>
