{{ define "fetch" }}
  {{ if .Boosted }}
    {{ template "head" . }}
  {{ end }}
  <button class="bg-slate-400 rounded-md px-4 py-2 font-bold text-white" hx-get="/getData" hx-target="#select">Get data</button>
  <select id="select" class="w-52">

  </select>
{{ end }}


<!doctype html>
<html lang="en">
  {{ template "head" . }}
  <body hx-ext="head-support">
    <div class="hidden" id="header">
      {{ template "nav" . }}
      <div id="user-button"></div>
      <hr />
    </div>
    <main class="hidden" id="main-content">
      {{ template "fetch" . }}
    </main>
    {{ template "script" .}}
  </body>
</html>
